<%- include("header") %>
    <link rel="stylesheet" href="/css/home.css">
    <section id='home' >
        <h2 id='mheading'>Allist</h2>
        <h3 id='sbheading'>All chain transactions</h3>
    </section>
    <section id='about' >
            <h2 class='heading'>About Us</h2>
            <p>
                Allist is a platform for you to see transactions of all chains at one place 
            </p>
    </section>
    <section id='features'>
    <h2  class='heading'>Features</h2>
    
    <div id='cards'>
    <div class='card'>
        <img src="/images/Exchange_perspective_matte.png" class='left' alt="">
        <p class='content'>Register easily with email </p>
    </div>

    <div  class='card'>
        <img src="/images/Dashboard_perspective_matte.png" class='left' alt="">
        <p class='content'>Enter your wallet address </p>
    </div>
    <div  class='card'>
        <img src="/images/Chart_perspective_matte.png" class='left' alt="">
        <p class='content'>See all your transactions</p>
    </div>
    <div  class='card'>
        <img src="/images/covalent.png" class='left' alt="">
        <p class='content'>Powered by Covalent </p>
    </div>
</div>
</section>

<section id="support">
    <h2  class='heading'>Supported Chains</h2>
    <p>
        Supported Chains on the platform
    </p>
    <div class="suplist">
        <img src="/images/ETH.png" width="200px" height="200px" alt="Ethereum">
        <img src="/images/BNB.png" width="200px" height="200px" alt="Binance">
        <img src="/images/AVAX.png" width="200px" height="200px" alt="Avalanche"> 
    </div>

    <p style="text-align: center;"><a href="/list">View All</a></p>   
</section>


</body>
</html>